@model X.PagedList.IPagedList<Colaborador>
@{
	ViewData["Title"] = "Index";
}

<h1>Colaborador</h1>

<a asp-action="Cadastrar" class="btn btn-primary">Cadastrar</a>
<br /><br />

<!-- Modal -->
<div class="modal fade" id="exclusao-modal" tabindex="-1" aria-labelledby="exclusao-modal-label" aria-hidden="true">
	<input type="hidden" id="id-ip" name="dados" value="" />
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exclusao-modal-label">Exclusão</h5>
				<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"
						style="border: none; background-color: white; cursor: pointer">
					X
				</button>
			</div>
			<div class="modal-body">
				Tem certeza que deseja excluir este registro?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
				<a class="btn btn-primary" id="btn-excluir" style="color: white;">Excluir</a>
			</div>
		</div>
	</div>
</div>

@if (TempData["MSG_S"] != null)
{
	<p class="alert alert-success">@TempData["MSG_S"]</p>
}

@if (Model != null && Model.Count > 0)
{
	<div class="table-responsive">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th scope="col">@Html.DisplayNameFor(model => model.First().Id)</th>
					<th scope="col">@Html.DisplayNameFor(model => model.First().Nome)</th>
					<th scope="col">@Html.DisplayNameFor(model => model.First().Email)</th>
					<th scope="col">Ações</th>
				</tr>
			</thead>
			<tbody>
				@foreach (Colaborador colaborador in Model)
				{
					<tr>
						<td scope="row">@colaborador.Id</td>
						<td scope="row">@colaborador.Nome</td>
						<td scope="row">@colaborador.Email</td>
						<td>
							<a asp-action="Atualizar" asp-route-id="@colaborador.Id" class="btn btn-secondary">Atualizar</a>
							<button class="btn btn-danger" title="Excluirr" onclick="carregarModalExcluir(@colaborador.Id)">Excluir</button>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>

	@Html.PagedListPager((IPagedList)Model, pagina => Url.Action("Index", new { pagina }))
}
else
{
	<span>Nenhum registro cadastrado!</span>
}

<script type="text/javascript">

	function carregarModalExcluir(id) {
		document.getElementById("id-ip").value = id;
		$('#exclusao-modal').modal();
	}

	function ExcluirRegistro(id) {
		debugger
		var url = "@Url.Action("Excluir", "Colaborador")";

		$.ajax({
			type: 'POST',
			url: url,
			data: { id : id },
			contentType: "application/x-www-form-urlencoded;charset=UTF-8",
			dataType: "json",
			success: function (dados)
			{
				debugger
				if (dados.status)
					window.location.href = "@Url.Action("Index", "Colaborador")";
			}
		});
	}
</script>